@media (max-width: 320px) {
  .navbar-nav {
    height: 68px;
  }
}

/* Mobile styles for 321px to 375px */
@media (min-width: 321px) and (max-width: 375px) {
  .navbar-nav {
    height: 68px;
  }
}

/* Tablet styles for 376px to 767px */
@media (min-width: 376px) and (max-width: 767px) {
  .navbar-nav {
    height: 68px; /* Adjust the height of the navbar for tablet */
    /* Add your tablet styles here */
  }
}

/* Desktop styles for 768px and above */
@media (min-width: 768px) {
  /* Add your desktop styles here */
}

/* Large Desktop styles for 1440px and above */
@media (min-width: 1440px) {
  /* Add your large desktop styles here */
}
