.filter-btn {
  background-color: transparent;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.filter-btn:hover {
  cursor: pointer;
}

.screens-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modals-container {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-inner-container {
  width: 370px;
  max-width: 90%;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 0;
}

.position-btn-right {
  position: absolute;
  right: -10px;
  top: -10px;
}

.label-color-filter {
  display: flex;
  gap: 5px;
  align-items: center;
}

.color-input-div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.without-priority-input {
  background-color: #FFFFFF4D;
}

.low-input {
  background-color: #8FA1D0;
}

.medium-input {
  background-color: #E09CB5;
}

.high-input {
  background-color: #BEDBB0;
}

.filter-input {
  display: none;
}

.color-div.selected .color-input-div::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  box-sizing: border-box;
}

.filter-modal-main .label-color-filter {
  color: #FFFFFF4D;
}

.selected .label-color-filter {
  color: white
}

.btn-icon {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modals-buttons {
  background-color: var(--modals-btns-bg);
  border: none;
}

.add-column-input {
  border: none;
}

.main-dashboard {
  overflow: auto;
  /* gap: 30px; */
}

.main-dashboard-lists {
  max-height: 50%;
  overflow-y: auto;
}

.label-color-display {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.card-list-container p {
  font-size: 12px;
}

.card-list-container .font-size-10 {
  font-size: 10px;
}

button:hover {
  cursor: pointer;
}

.color-green {
  color: var(--modals-btns-bg);
}

.add-card-colors {
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 0;
}

.react-calendar-container {
  width: 350px;
  max-width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.move-card-li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.no-board-info-container {
  width: 486px;
  max-width: 100%;
}

.no-board-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.no-board-text span {
  color: rgba(190, 219, 176, 1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #313131;
  border-radius: 6px;
}